<main class="community">
  <section class="community--home">
    <div class="community--home__background">
      <div class="community--home__background__content">
        <h1 class="title-line">
          <div class="line"></div>
          Comunidade
        </h1>
        <h2 class="title">
          A casa é para todos os desenvolvedores <br />
          - incluindo você
        </h2>
      </div>
    </div>
  </section>
  <section
    class="community--content"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <form
      class="community--content__forms"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div
        class="community--content__forms__search"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <label for="exampleDataList" class="form-label"></label>
        <input
          class="form-control"
          list="datalistOptions"
          id="exampleDataList"
          placeholder="Pesquisar"
        />
        <datalist id="datalistOptions">
          <option value="Teste 1"></option>
          <option value="Teste 2"></option>
          <option value="Teste 3"></option>
          <option value="Teste 4"></option>
          <option value="Teste 5"></option>
        </datalist>
      </div>
      <div
        class="community--content__forms__filters"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <div>
          <select
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
          >
            <option selected>Tópicos</option>
            <option value="1">Teste</option>
            <option value="2">Teste</option>
            <option value="3">Teste</option>
          </select>
        </div>
        <div class="dropdown" data-aos="fade-up" data-aos-duration="1500">
          <select
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
          >
            <option selected>Mais recentes</option>
            <option value="1">teste</option>
            <option value="2">teste</option>
            <option value="3">teste</option>
          </select>
        </div>
      </div>
    </form>
    <div
      class="community--content__coments"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div
        class="community--content__coments__coment"
        data-aos="fade-up"
        data-aos-duration="1500"
        *ngFor="let item of peopleComunity"
      >
        <div class="top_box">
          <div class="icon_name">
            <div class="circle"></div>
            <div>
              <h3 class="name">{{ item.name }}</h3>
              <p class="topic">{{ item.topic }}</p>
              <span class="topic"> {{ item.subTopic }} </span>
            </div>
          </div>
          <div class="date">
            <span> {{ item.date | date: "d 'de' MMMM'" }} </span>
          </div>
        </div>
        <div class="coment bottom_box">
          <p>{{ item.info }}</p>
        </div>
      </div>
      <div
        class="community--content__coments__more"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <button>Veja mais</button>
      </div>
    </div>
  </section>
</main>
