<div class="container-amg">
  <div class="amg-center">
    <div class="content-services">
      <div class="services-systems">
        <div class="content-image">
          <img src="../../../assets/svg/Subtract.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!--=========Sistemas Absolut=========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-absolut">
      <div class="amg-systems">
        <div class="content-systems">
          <div class="web-systems">
            <img src="../../../assets/svg/sistema.svg" alt="" />
          </div>
        </div>
        <div class="content-systems">
          <div class="systems-center">
            <div class="web-systems">
              <div class="systems-icon">
                <img src="../../../assets/svg/sistema-icon.svg" alt="" />
                <div class="systems-title">
                  <h3>Sistema Web</h3>
                </div>
              </div>
              <div class="systems-description">
                <p>
                  Muitas empresas possuem processos únicos e esse é o
                  diferencial competitivo, assim os SAAS não atendem e forçam a
                  adaptação.
                </p>
                <p>
                  Nós fazemos o desenho do processo e desenvolvemos o software
                  exclusivamente para você.
                </p>
              </div>
            </div>
            <div class="buttons-group">
              <div class="systems-buttons">
                <button type="button" class="btn btn-black">Entrar em contato</button>
                <button type="button" class="btn btn-outline-info">Saiba mais</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=========Aplicativo=========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-box">
      <div class="amg-systems amg-mobile">
        <div class="content-systems">
          <div class="systems-center">
            <div class="web-systems">
              <div class="systems-icon">
                <img src="../../../assets/svg/aplicativo-icon.svg" alt="" />
                <div class="systems-title">
                  <h3>Aplicativos</h3>
                </div>
              </div>
              <div class="systems-description">
                <p>
                  Tanto para oferecer mobilidade para sua solução ou lançar uma
                  nova e potencial Startup. Estamos aqui para entender e
                  levantar os requisitos, desenhar e desenvolver a ideia para,
                  no fim, você usufruir dessa magnifica criação.
                </p>
              </div>
            </div>
            <div class="buttons-group">
              <div class="systems-buttons">
                <button type="button" class="btn btn-black">Entrar em contato</button>
                <button type="button" class="btn btn-outline-info">Saiba mais</button>
              </div>
            </div>
          </div>
        </div>
        <div class="content-systems">
          <div class="web-systems">
            <img src="../../../assets/svg/aplicativo.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=========E-Comerce=========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-box">
      <div class="amg-systems">
        <div class="content-systems">
          <div class="web-systems">
            <img src="../../../assets/svg/e-comerce.svg" alt="" />
          </div>
        </div>
        <div class="content-systems">
          <div class="systems-center">
            <div class="web-systems">
              <div class="systems-icon">
                <img src="../../../assets/svg/e-comerce-icon.svg" alt="" />
                <div class="systems-title">
                  <h3>E-Commerce</h3>
                </div>
              </div>
              <div class="systems-description">
                <p>
                  Pensar em vender online e as soluções pronta o limitam?
                  Prazer, conosco sua ideia inovadora será enfim tirada do papel
                  e lançada para seus clientes, seja ela IOT ou IA, conte
                  conosco.
                </p>
              </div>
            </div>
            <div class="buttons-group">
              <div class="systems-buttons">
                <button type="button" class="btn btn-black">Entrar em contato</button>
                <button type="button" class="btn btn-outline-info">Saiba mais</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=========Aqui vai ficar Tecnologias=========-->

<!--Formulário-->
<div class="container-amg">
  <div class="amg-form">
    <div class="form-center">
      <div class="form-title">
        <div class="title">
          <h4>Vamos Trabalharmos Juntos</h4>
        </div>
      </div>
      <div class="form-group">
        <form>
          <div class="form-row mobile-row">
            <div class="form-colum mobile-colum">
              <label for="">Seu nome</label>
              <input type="name" />
            </div>
            <div class="form-colum mobile-colum">
              <label for="">E-mail</label>
              <input type="email" />
            </div>
          </div>
          <div class="form-row mobile-row" >
            <div class="form-colum mobile-colum">
              <label for="">Telefone</label>
              <input type="text" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-text">
              <label for="">Mensagem</label>
              <textarea></textarea>
            </div>
          </div>
          <div class="form-button">
            <button class="primary" id="pyscriptTeste">Entrar em contato</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
