<div class="aling__bot section--third pb-5">
  <div class="pag__center section--third--content">
    <p class="text__green" data-aos="fade-up">Sustentabilidade</p>
    <p class="text__default" data-aos="fade-up">Algumas iniciativas:</p>
    <div class="d-flex">
      <div class="box__bot" data-aos="fade-up">
        <img
          data-aos="fade-up"
          src="assets/backgrounds/bg-agua.svg"
          alt=""
          class="mb-3"
          width="100%"
        />
        <p class="text__desc" data-aos="fade-up">
          Redução de 80% no uso de copos descartáveis, uma vez que todos os
          colaboradores utilizam o seu próprio copo para tomar água e café.
        </p>
      </div>

      <div class="box__bot" data-aos="fade-up">
        <img
          src="assets/backgrounds/bg-talk.svg"
          alt=""
          class="mb-3"
          width="100%"
          data-aos="fade-up"
        />
        <p class="text__desc" data-aos="fade-up">
          Projetos sociais locais e nacionais, com apoio à ONGs, doações de
          alimentos, ajuda de custo, disponibilização de sistema 100% gratuito
          e ações em datas comemorativas, com diversas formas de doações.
        </p>
      </div>
    </div>
  </div>
</div>
