<header  [ngClass]="isHome() ? 'baseline' : 'baseline-black'">
 <div class="container-header">
  <div class="baseline-content default-container">
    <div class="baseline-logo">
      <a routerLink="/home" *ngIf="isHome(); else blacklogo" >
        <img class="header-logo" src="../../assets/svg/LOGO 2.svg" alt="Amg Logo" /></a>
      <ng-template #blacklogo>
        <div class="baseline-logo">
        <a routerLink="/home"><img class="header-logo" src="../../assets/svg/LOGO 5.svg" alt="Amg Logo" /></a>
      </div>
          </ng-template>
    </div>

    <div class="navbar-mobile ">
      <div class="navbar-color" *ngIf="isHome(); else blacknavbar">
      <img class="navbar-icon" src="../../assets/svg/navbar_white.svg"(click)="collapse.toggle()"
      [attr.aria-expanded]="!menuOpen"
      aria-controls="collapseExample" />
      </div>
      <ng-template #blacknavbar>
        <img class="navbar-icon" src="../../assets/svg/navbar.svg"(click)="collapse.toggle()"
        [attr.aria-expanded]="!menuOpen"
        aria-controls="collapseExample" />
      </ng-template>
    </div>

    <div class="baseline-center">
      <div class="baseline-menu">

        <nav>
          <span [ngClass]="isAbout() ? 'baseline-black-bold' : 'baseline-menu'"  [routerLink]="['/about-us']">
            Sobre AMG</span>

            <span [routerLink]="['/solutions']"  [ngClass]="isSolutions() ? 'baseline-black-bold' : 'baseline-menu'">
              Soluções

              <img src="../../assets/svg/arrow_down.svg" *ngIf="isHome(); else blackarrow" />
              <ng-template #blackarrow>
                <img class="header-logo" src="../../assets/svg/arrow_down_black.svg" alt="Amg Logo"/>
              </ng-template>
              </span>

              <span [routerLink]="['/hiring']"  [ngClass]="isHiring() ? 'baseline-black-bold' : 'baseline-menu'">Trabalhe Conosco</span>
              <div class="baseline-button">
                <button  [routerLink]="['/contact-us']" type="button" class="btnHome">Contato</button>
              </div>
            </nav>

      </div>


    </div>


  </div>


  <div #collapse="ngbCollapse"
     [(ngbCollapse)]="menuOpen">
  <div class="card">
    <div class="card-body">
      <ul class="slide">
        <li class="slide-item" ><a class="navbar-text" [routerLink]="'/about-us'" (click)="menuOpen = true">Sobre AMG</a></li>
        <li class="slide-item"><a class="navbar-text" [routerLink]="'/solutions'" (click)="menuOpen = true">Soluções</a></li>
        <li class="slide-item"><a class="navbar-text" [routerLink]="'/hiring'"(click)="menuOpen = true">Trabalhe Conosco</a></li>
        <li class="slide-item"><a class="navbar-text" [routerLink]="'/contact-us'"(click)="menuOpen = true">Contato</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
</header>
