<header [ngClass]="isHome() ? 'baseline' : 'baseline-black'">
  <div class="baseline-content">
    <div class="baseline-logo">
      <a routerLink="/home" *ngIf="isHome(); else blacklogo" > <img src="../../assets/svg/LOGO 2.svg" alt="Amg Logo" /></a>
      <ng-template #blacklogo>
        <div class="baseline-logo">
        <a routerLink="/home"><img src="../../assets/svg/LOGO 5.svg" alt="Amg Logo" /></a>
      </div>
          </ng-template>
    </div>


    <div class="baseline-center">
      <div class="baseline-menu">

        <nav>
          <span [ngClass]="isAbout() ? 'baseline-black-bold' : 'baseline-menu'"  [routerLink]="['/about-us']">
            Sobre AMG</span>

            <span [routerLink]="['/solutions']"  [ngClass]="isSolutions() ? 'baseline-black-bold' : 'baseline-menu'">
              Soluções
              <img src="../../assets/svg/arrow_down.svg" alt="" /> </span>

              <span [routerLink]="['/hiring']"  [ngClass]="isHiring() ? 'baseline-black-bold' : 'baseline-menu'">Trabalhe Conosco</span>
        </nav>
      </div>
      <div class="baseline-button">
        <button  [routerLink]="['/contact-us']" type="button" class="btnHome">Contato</button>
      </div>

    </div>

    <!-- <div class="mobile">
      <div class="icon-mobile">
        <div class="icon" (click)="hideShow()">
          <i [ngClass]="showMenu ? 'bi bi-x' : 'bi bi-list'"></i>
        </div>
      </div>
    </div> -->
  </div>
</header>
<!-- <div class="content-mobile" *ngIf="showMenu === true">
  <div class="menu-mobile">
    <nav class="menu">
      <span (click)="goTo(item.route)" *ngFor="let item of menu">
        {{ item.name }}</span
      >
    </nav>
    <div class="mobile-button">
      <button type="button" class="btn btn-white-mobile">Contato</button>
    </div>
  </div>
</div> -->
