:root {
  //  Colors:

  --first-green: #354739;
  --first-white: #ffffff;
  --seconf-white: #d9d9d9;
  --black: #000000;
  --gray: #808080;
  --second-gray: #d9d9d9;

  // Font-family:
  --font-family-R: "Rubik";
  --font-family-M: "Montserrat";
  --font-family-P: "Poppins";
  --font-family-J: "Jost";
}
