.baseline-button .btn-outline-primary,
.btnHome {
  width: 132px;
  height: 35px;
  border: 2px;
  color: var(--first-white);
  background-color: #587b52;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border-radius: 12px;

  &:hover {
    cursor: pointer;
    background: var(--first-white);
    color: var(--first-green);
    border: 2px solid var(--first-green);
  }
  &:active:focus {
    box-shadow: none;
  }
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
