.success{
  &--box{
    background-color: white;
    z-index: 10;
    position: fixed;
    right: 1.5%;
    top: 5%;
    box-shadow:0px 0px 10px 2px rgb(0 0 0 / 21%);
    width: 340px;
    border-left: 5px solid var(--green);
    &--close{
      border-left: 1px solid rgba(0, 0, 0, 0.149);
      cursor: pointer;
    }
    &--tittle{
      font-weight: bolder;
    }
  }
}


