<div class="pag__center d-flex section--fourth">
  <div class="aling__bot">
    <p class="text__green-title"  >Por que contratar pela AMG?</p>
    <p class="text__solution"  >
      Somos profissionais especialistas na área de tecnologia.
      Assim, você acelera o seu negócio de forma rápida, flexível e confiável.
    </p>
    <ul>
      <li class="text__solution"  >Serviço terceirizado sem vínculo empregatício.</li>
      <li class="text__solution"  >Maior agilidade com o mínimo de burocracia.</li>
      <li class="text__solution"  >Formamos equipes de acordo com sua necessidade.</li>
      <li class="text__solution"  >Custo fixo.</li>
    </ul>
  </div>
    <img src="assets/backgrounds/bg-solu-bot.svg" alt="bg-solu-bot"
    width="70%"  >
</div>
