<div class="pag__center d-flex section--fourth py-5">
  <div class="aling__bot w-50">
    <p class="text__green-title" data-aos="fade-up">Por que contratar pela AMG?</p>
    <p class="text__solution" data-aos="fade-up">
      Somos profissionais especialistas na área de tecnologia.
      Assim, você acelera o seu negócio de forma rápida, flexível e confiável.
    </p>
    <ul>
      <li class="text__solution" data-aos="fade-up">Serviço terceirizado sem vínculo empregatício.</li>
      <li class="text__solution" data-aos="fade-up">Maior agilidade com o mínimo de burocracia.</li>
      <li class="text__solution" data-aos="fade-up">Formamos equipes de acordo com sua necessidade.</li>
      <li class="text__solution" data-aos="fade-up">Custo fixo.</li>
    </ul>
  </div>
    <div class="bot-image w-50 py-2">
      <img loading="lazy" src="assets/backgrounds/bg-solu-bot.webp" alt="bg-solu-bot"
      width="90%" class="pb-3 px-5"  data-aos="fade-up">
    </div>
</div>
