<div class="aling__top">
  <div class="pag__center">
    <div class="d-flex justify-content-center flex-column">
      <span class="text__title"
        >Construindo o futuro
        <span class="text__subtitle-white"  >
          através da <br />
          tecnologia e inovação
        </span>
      </span>
      <p class="text__white-desc"  >
        Conectamos sua empresa com o mundo da tecnologia em tempo hábil
      </p>
      <app-default-button
      [bigArrow]="true"
      label="Entrar em contato"
      classes="py-3 px-4"
      (click)="defaultService.backToTop()"
      labelFontSize="20px"
      routerLink="/contato"></app-default-button>
    </div>
  </div>
</div>
