textarea{
  height:110px;
  background: url('/assets/svg/two-envelops.svg') no-repeat scroll 7px 7px;
  background-position: 1.5% 20%;
  padding-left:30px;
  padding: 15px 0px 0px 35px;
  resize: none;
}
