<div class="pag__center d-flex section--second py-5">
  <div class="w-50 aling__solutions mr-4">
    <img

      src="assets/backgrounds/bg-solu-mid.svg"
      alt="bg-solu-mid"
      width="100%"
    />
  </div>
  <div class="w-50 aling__texts">
    <h3 class="text__green-title mt-3"  >
      Por que escolher uma
      squad ágil para seu
      projeto?
    </h3>
    <p class="mt-1 text__solution"  >
      Seguir um modelo de trabalho mais utilizado hoje em desenvolvimento de
      software na área de tecnologia, é a metodologia ágil, seguindo o fluxo
      de serviço conforme a imagem. Na AMG, você define a sua equipe, conforme
      sua necessidade, temos especialistas para analisar todas as suas
      demandas e ajudar a definir quais e quantos profissionais forem
      precisos.
    </p>
  </div>
</div>
