<section class="services--home">
  <div class="services--home__background">
    <div class="services--home__background__content">
      <h2 class="title-line">
        <div class="line"></div>
        Serviços
      </h2>
      <h2 class="title">
        Solicite nossos serviços para te auxiliar no seus projetos
      </h2>
    </div>
    <div class="btns-services">
      <button type="button" class="btn">Entrar em contato</button>
      <button type="button" class="btn">Saiba mais</button>
    </div>
  </div>
</section>
