.title-line {
  .line {
    background-color: var(--white);
  }
}

.services {
  padding-top: 80px;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  &--home {
    color: var(--white);
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    max-width: 1920px;
    &__background {
      background-image: url("../../../../../assets/svg/Subtract.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 90vw;
      height: 90vh;
      padding-bottom: 100px;
      border-radius: 20px;
      margin: 0 auto;
      &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 80px;
      }
    }
  }
  &--content {
    width: 70%;
    margin: 0 auto;
    &__forms {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
      &__search {
        display: flex;
      }
      &__filters {
        display: flex;
        gap: 40px;
      }
    }
    &__coments {
      &__coment {
        border-bottom: 1px solid black;
        font-family: "rubik";
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
        .top_box {
          display: flex;
          justify-content: space-between;
          .icon_name {
            display: flex;
            gap: 20px;
            .name {
              font-size: 24px;
            }
            .topic {
              border: 1px solid black;
              padding: 5px 15px;
              border-radius: 20px;
              font-size: 14px;
            }
          }
          .date {
            font-size: 24px;
          }
        }
        .coment {
          font-size: 38px;
        }
      }
      &__more {
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
        button {
          padding: 8px 20px;
          font-family: rubik;
          border-radius: 20px;
          border: 1px solid black;
          background-color: transparent;
          &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
            transform: scale(1.2);
            transition: 300ms;
          }
          &:not(:hover) {
            transform: scale(1);
            transition: 300ms;
          }
        }
      }
    }
  }
}
