<div #curriculumForm id="curriculumForm" class="default-container d-flex py-5">
  <div class="w-50 curriculum--form">
    <div class="default-container">
      <div class="w-100 p-3">
        <h4 class="text-center">Envie seu currículo</h4>
      </div>
      <div>
        <h5>Mande suas dúvidas, portfólios e idéias.</h5>
      </div>
      <div>
        <app-curriculum-form></app-curriculum-form>
      </div>
    </div>
  </div>

  <div class="w-50 d-flex align-items-center curriculum--img" data-aos="fade-up">
    <img src="src/assets/backgrounds/hiring-image.jpg" width="100%" alt="">
  </div>
</div>
