<div class="top-background"></div>
<div class="container-background">
  <div class="top-text">
  <h1 class="bold-tittle">
    Inicio / Sobre nós
  </h1>
</div>
  <div class="center-text">
  <h2 class="about-tittle">Sobre nós</h2>
  <h3 class="about-g-text">Fundada em 2019, a Angular Money Group é uma empresa voltada á desenvolvimento de website e aplicativos. Tendo como seu principal carro chefe o front end no framework angular.</h3>
  <h3 class="about-text">Atualmente, somos uma equipe com mais de 20 desenvolvedores, com sede em Uberlândia, atendemos clientes em todo o país, e também internacionais.</h3>
  </div>


<div class="wrapper">
<div class="cards-wrap">
  <div class="card-item">
    <div class="card-inner">
      <img src="../../assets/svg/g-circle.svg" alt="">
      <div class="card-tittle">Missão</div>
      <div class="card-text"> Criar, desenvolver e inovar produtos e serviços no âmbito empresarial utilizando a tecnologia da informação, para disponibilizar ao mercado soluções que aumentem a competitividade e a rentabilidade das organizações.</div>
    </div>
  </div>
  <div class="card-item">
    <div class="card-inner">
      <img src="../../assets/svg/g-circle.svg" alt="">
      <div class="card-tittle">Visão</div>
      <div class="card-text"> Ser uma empresa sólida, lucrativa e inovadora, que proporcione qualidade de vida aos colaboradores e promova a transformação da sociedade a partir das novas tecnologias, e a cada ano agregar mais valor aos nossos clientes.</div>
    </div>
  </div>
  <div class="card-item">
    <div class="card-inner">
      <img src="../../assets/svg/g-circle.svg" alt="">
      <div class="card-tittle">Valores</div>
      <div class="card-text"> Honestidade, Espirito de Equipe, Confiança e Credibilidade, Ética, Comprometimento, Inovação</div>
    </div>
  </div>
  <div class="card-item">
    <div class="card-inner">
      <img src="../../assets/svg/g-circle.svg" alt="">
      <div class="card-tittle">Propósito</div>
      <div class="card-text"> Nosso propósito, e fazer com que nossas tecnologias tragam resultados para toda sociedade.</div>
    </div>
  </div>
</div>

</div>
<div class="fundo-branco"></div>
</div>




