<div class="top-background"></div>
<div class="container-background">
    <div class="background-layout">
    <div class="top-text">
      <h1 class="bold-tittle">
        Inicio / Trabalhe conosco
      </h1>
    </div>

    <div class="side-box">
      <h3 class="big-g-text">
        Mostre suas habilidades para o mundo.
      </h3>
      <h3 class="hiring-text-top">Faça parte desse time que só vem crescendo, estamos esperando por você.</h3>
      <button class="contact-button">Vagas disponíveis</button>
    </div>
  </div>
<div class="default-container">

    <div class="center-text">
    <h2 class="hiring-tittle">Por que trabalhar conosco?</h2>
    <h3 class="hiring-g-text">Temos potencial de crescimento</h3>
    <h3 class="hiring-text">Acreditamos que somos uma empresa com grande potencial de crescimento no mercado, oferecendo desenvolvedores, equipes e soluções para as necessidades de cada cliente.</h3>
    </div>

    <div class="center-text">
      <h3 class="hiring-g-text">Feita de Pessoas</h3>
      <h3 class="hiring-text">Se todos estiverem bem, com equilíbrio entre a vida pessoal e profissional, criamos uma relação de proximidade em que todos saem ganhando.</h3>
      </div>

      <div class="center-text">

        <h3 class="hiring-g-text">Apaixonados pelo que fazemos</h3>
        <h3 class="hiring-text">Aqui temos pessoas apaixonadas pelo que fazem, acreditando no potencial de cada um da nossa equipe.</h3>
        </div>

        <div class="center-text">
          <h2 class="hiring-tittle">Central de Treinamento</h2>
          <h3 class="hiring-g-text">Treinamentos, Cursos e Palestras</h3>
          <h3 class="hiring-text">A empresa possui local amplo para a realização dos treinamentos e realizados por meio de profissionais qualificados e credenciados com recursos audiovisuais e apostilas.</h3>
          </div>
        <div class="center-text">
          <h2 class="hiring-tittle">Sustentabilidade</h2>
          <h3 class="hiring-g-text">Algumas iniciativas:</h3>
          <h3 class="hiring-text">Redução de 80% no uso de copos descartáveis, uma vez que todos os colaboradores utilizam o seu próprio copo para tomar água e café.

            Projetos sociais locais e nacionais, com apoio à ONGs, doações de alimentos, ajuda de custo, disponibilização de sistema 100% gratuito e ações em datas comemorativas, com diversas formas de doações.</h3>
        </div>
        <div class="container-contact">
          <div class="contact-box default-container">
        <form class="needs-validation" [formGroup]="contactForm" (ngSubmit)="onSubmit()" #formDir="ngForm">

          <h1 class="about-tittle">Envie seu curriculo</h1>
          <input formControlName="email" maxlength="50"  type="email" class="mail-box" name="" id="" placeholder="email@seudominio.com.br" required>
          <div class="validate-msg"><span *ngIf="submitted && email.invalid" >Insira um email válido</span></div>
          <input formControlName="phoneNumber"  maxlength="14"  type="tel" class="number-box" name="" id="" placeholder="(00)00000-0000" mask="(00)00000-0000" required>
          <div class="validate-msg"><span *ngIf="submitted && phoneNumber.invalid">Insira um número válido para contato</span></div>
          <textarea formControlName="message" class="comment-box"  maxlength="300" type="text" placeholder="Descreva aqui sua mensagem..." required></textarea>
          <div class="validate-msg"><span *ngIf="submitted && message.invalid">Insira uma mensagem</span></div>
          <input class="" type="file" id="myfile" name="myfile">
          <input type="submit" class="curriculum-button" value="Enviar">

        </form>
      </div>
      <div class="contact-box default-container">
        <img class="contact-image" src="assets/svg/hiring-1.svg" alt="">
      </div>
      </div>

</div>
</div>
