<!--========Sobre========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-box">
      <div class="sobre-amg">
        <div class="titulo">
          <h1>Seu futuro como desenvolverdor esta aqui</h1>
        </div>
        <div class="button-group">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-box mobile-box">
      <div class="sobre-curso">
        <p>Conheça agora</p>
        <h2 class="h2-bold">Tudo Sobre o curso</h2>
      </div>
      <div class="content-video">
        <div class="video">
          <img src="../../../assets/svg/Group 1831.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!--========Curso========-->
<div class="container-amg-green">
  <div class="amg-grid">
    <div class="amg-box-green">
      <div class="content-amg">
        <div class="content-classes">
          <h3>Nossos numeros</h3>
        </div>
        <div class="content-icons">
          <div class="icon">
            <img src="../../../assets/svg/like.svg" alt="" />
            <div class="details">
              <span>Aulas</span>
              <h3>12</h3>
            </div>
          </div>
          <div class="icon">
            <img src="../../../assets/svg/watch.svg" alt="" />
            <div class="details">
              <span>Horas de curso</span>
              <h3>38</h3>
            </div>
          </div>
          <div class="icon">
            <img src="../../../assets/svg/books.svg" alt="" />
            <div class="details">
              <span>Modulos</span>
              <h3>8</h3>
            </div>
          </div>
          <div class="icon">
            <img src="../../../assets/svg/star.svg" alt="" />
            <div class="details">
              <span>Mentorias</span>
              <h3>5</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="amg-box-green">
      <div class="video">
        <img src="../../../assets/image/svg/Group 1831.svg" alt="" />
      </div>
    </div>
  </div>
</div>
<!--========Modulos========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-grid">
      <div class="amg-modules">
        <div class="titulo">
          <h1>O que você ira aprender ao longo do curso</h1>
        </div>
        <div class="description-module">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-modulos">
              <div class="book-icon">
                <img src="../../../assets/svg/red.svg" alt="" />
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    Introdução
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                  style=""
                >
                  <div class="accordion-body">
                    Funcionou, agora tenta o debaixo
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-modulos">
              <div class="book-icon">
                <img src="../../../assets/svg/green.svg" alt="" />
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    O Básico e a teoria
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Tenta de novo</div>
                </div>
              </div>
            </div>

            <div class="accordion-modulos">
              <div class="book-icon">
                <img src="../../../assets/svg/blue.svg" alt="" />
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Lorem ipsum, Lorem ipsum
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Continua tentando</div>
                </div>
              </div>
            </div>

            <div class="accordion-modulos">
              <div class="book-icon">
                <img src="../../../assets/svg/orange.svg" alt="" />
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour"
                  >
                    Lorem ipsum, Lorem ipsum
                  </button>
                </h2>
                <div
                  id="flush-collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFour"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Ainda não é esse</div>
                </div>
              </div>
            </div>

            <div class="accordion-modulos">
              <div class="book-icon">
                <img src="../../../assets/svg/beige.svg" alt="" />
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive"
                  >
                    Lorem ipsum, Lorem ipsum
                  </button>
                </h2>
                <div
                  id="flush-collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFive"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Quase lá</div>
                </div>
              </div>
            </div>

            <div class="accordion-modulos">
              <div class="book-icon">
                <img src="../../../assets/svg/Graduation.svg" alt="" />
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix"
                    aria-expanded="false"
                    aria-controls="flush-collapseSix"
                  >
                    Lorem ipsum, Lorem ipsum
                  </button>
                </h2>
                <div
                  id="flush-collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingSix"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Achou!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--========Slide Instrutores========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-grid">
      <div class="detalhes-instrutor">
        <div class="sub-titulo">
          <p>- Instrutores</p>
        </div>
        <div class="descricao">
          <h2>Conheça nossos instrutores que irão te axuliar nessa jornada</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========Slide========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-grid">
      <div class="teste">
        <div class="amg-slide-box">
          <div class="amg-slide">
            <div class="instrutor-details">
              <div class="name"><h4>André da silva</h4></div>
              <div class="description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit.
                </p>
              </div>
            </div>
            <div class="instructor-image">
              <img src="../../../assets/svg/Subtract 3.svg" alt="" />
            </div>
          </div>
          <div class="amg-slide-2">
            <div class="instrutor-details">
              <div class="name"><h4>Maria Eduarda</h4></div>
              <div class="description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit.
                </p>
              </div>
            </div>
            <div class="instructor-image">
              <img src="../../../assets/svg/Subtract (1).svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========Garanta sua vaga========-->
<div class="container-amg">
  <div class="amg-center">
    <div class="amg-box">
      <div class="titutlo-vagas">
        <h1>Garanta ja sua vaga</h1>
      </div>
      <div class="modulos-cursos">
        <div class="icon-check">
          <img src="../../../assets/svg/Group.svg" alt="" />
        </div>
        <div class="legenda">
          <p>Lorem ipsum, Lorem ipsum</p>
        </div>
      </div>
      <div class="modulos-cursos">
        <div class="icon-check">
          <img src="../../../assets/svg/Group.svg" alt="" />
        </div>
        <div class="legenda">
          <p>Lorem ipsum, Lorem ipsum</p>
        </div>
      </div>
      <div class="modulos-cursos">
        <div class="icon-check">
          <img src="../../../assets/svg/Group.svg" alt="" />
        </div>
        <div class="legenda">
          <p>Lorem ipsum, Lorem ipsum</p>
        </div>
      </div>
      <div class="modulos-cursos">
        <div class="icon-check">
          <img src="../../../assets/svg/Group.svg" alt="" />
        </div>
        <div class="legenda">
          <p>Lorem ipsum, Lorem ipsum</p>
        </div>
      </div>
      <div class="modulos-cursos">
        <div class="icon-check">
          <img src="../../../assets/svg/Group.svg" alt="" />
        </div>
        <div class="legenda">
          <p>Lorem ipsum, Lorem ipsum</p>
        </div>
      </div>
      <div class="modulos-cursos">
        <div class="icon-check">
          <img src="../../../assets/svg/Group.svg" alt="" />
        </div>
        <div class="legenda">
          <p>Lorem ipsum, Lorem ipsum</p>
        </div>
      </div>
      <div class="modulos-cursos">
        <div class="icon-check">
          <img src="../../../assets/svg/Group.svg" alt="" />
        </div>
        <div class="legenda">
          <p>Lorem ipsum, Lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="amg-box">
      <div class="comprar-curso">
        <div class="curso-center">
          <div class="buy-amg-curso">
            <h5>AMG Desenvolvimento</h5>
          </div>
          <div class="valores">
            <span>Curso completo</span>
          </div>
          <div class="valores">
            <span>Até 12x de</span>
          </div>
          <div class="preco">
            <h6>R$10,00</h6>
            <span>ou R$120,00</span>
          </div>

          <div class="comprar">
            <button type="button" class="btn btn-white">Quero Comprar</button>
          </div>
        </div>
        <div class="help">
          <div class="title-course">
            <h5>Dificuldade em realizar a compra?</h5>
          </div>
          <div class="help-description">
            <span class="mini-legenda">Entre em contato com nossa equipe</span>
          </div>
          <div class="contact">
            <button type="button" class="btn btn-white">
              Entrar em contato
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
