<div class="d-flex text-center flex-column">
  <p class="text__green mt-3 mb-3"  >Sobre nós</p>
  <p class="text__opc-title"  >
    Fundada em 2019, a Angular Money Group é uma empresa voltada á
    desenvolvimento de website e aplicativos. Tendo como seu principal carro
    chefe o front end no framework angular.
  </p>
  <p class="text__subtitle"  >
    Atualmente, somos uma equipe com mais de 20 desenvolvedores, com sede em
    Uberlândia, atendemos clientes em todo o país, e também internacionais.
  </p>
</div>
