.menu{
  background-color: #D9D9D9;
  span{
    color:#587B52;
    font-weight: 900;
    white-space: nowrap;
  }
  img{
    width: 50px;
  }
}

nav{
  div{
    color:var(--green);
    cursor: pointer;
    font-weight: bold;

  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:var(--green);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fa-whatsapp{
  color: var(--medium-green);
}

.phoneNumber {
  color: var(--medium-green);
  margin: 0 0.5rem;
  white-space: nowrap;
}

a{
  text-decoration: none;
  cursor: pointer;
  margin: 0 5%;
}

@media (max-width:500px){
  .logo-4{
    display: none;
  }

  .menu--bottom{
    flex-direction: column;
    align-items: center;
   }

   a{
    margin: 3% 0;
  }
}
@media (max-width:930px){
  .menu{
    .hover-underline-animation:after {
      content: '';
      position: absolute;
      width: 0%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--green);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &--top{
      nav{
        flex-direction: column;
        div{
          text-align: center;
          &:hover{
            background-color: rgb(59, 59, 59);
          }
        }
      }
    }
     }
}


