
<div class="top-background"></div>
<div class="default-container">
  <div class="container-background">
    <div class="top-text">
      <h1 class="bold-tittle">
        Inicio / Soluções
      </h1>
    </div>

    <div class="background-solutions">
      <div class="container-solutions default-container">
        <div class="solutions-box">
          <img class="solutions-img" src="assets/svg/solutions-1.svg" alt="" />
        </div>
        <div class="solutions-box">
          <h3 class="solutions-tittle">Precisando de desenvolvedores, ou de squads para seu produto?</h3>
          <h1 class="solutions-subtittle">
            Montamos um time de acordo com sua necessidade, seguindo a melhor forma ágil de trabalhar.
          </h1>
          <h2 class="solutions-text">
            Atualmente, somos uma equipe com mais de 20 desenvolvedores, com sede em
            Uberlândia, atendemos clientes em todo o país.
          </h2>
          <button class="button-template solutions-button" (click)="defaultService.backToTop()" [routerLink]="'/contact-us'">Fale com um especialista</button>
        </div>
      </div>
      <div class="green-line default-container"></div>

    </div>



</div>
</div>
