<div class="d-flex about--content pb-5">
  <div class="box__attr">
    <img
    data-aos="fade-up"
      src="/src/assets/gifs/completo.gif"
      alt=""
      width="70px"
    />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Missão</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Criar, desenvolver e inovar produtos e serviços no âmbito empresarial
      utilizando a tecnologia da informação, para disponibilizar ao mercado
      soluções que aumentem a competitividade e a rentabilidade das
      organizações.
    </p>
  </div>

  <div class="box__attr">
    <img src="/src/assets/gifs/alvo.gif" alt="" width="70px" data-aos="fade-up" />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Visão</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Ser uma empresa sólida, lucrativa e inovadora, que proporcione
      qualidade de vida aos colaboradores e promova a transformação da
      sociedade a partir das novas tecnologias, e a cada ano agregar mais
      valor aos nossos clientes.
    </p>
  </div>

  <div class="box__attr">
    <img
    data-aos="fade-up"
      src="/src/assets/gifs/lista-de-controle.gif"
      alt=""
      width="70px"
    />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Valores</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Honestidade, Espirito de Equipe, Confiança e Credibilidade, Ética,
      Comprometimento, Inovação
    </p>
  </div>

  <div class="box__attr">
    <img src="/src/assets/gifs/foguete.gif" alt="" width="70px" data-aos="fade-up" />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Propósito</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Nosso propósito, e fazer com que nossas tecnologias tragam resultados
      para toda sociedade.
    </p>
  </div>

</div>
