<div class="d-flex about--content pb-5">
  <div class="box__attr">
    <img loading="lazy"
    data-aos="fade-up"
      src="assets/gifs/completo.gif"
      alt="completo"
      width="70px"
    />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Missão</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Utilizar a tecnologia da informação para criar,
      desenvolver e atualizar produtos e serviços no ambiente de negócios,
      trazendo ao mercado soluções que aumentam a competitividade e lucratividade de nossas organizações.
    </p>
  </div>

  <div class="box__attr">
    <img loading="lazy" src="assets/gifs/alvo.gif" alt="alvo" width="70px" data-aos="fade-up" />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Visão</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Crescer como uma empresa rentável e inovadora,
      que oferece qualidade de vida aos colaboradores e
      promove a mudança da sociedade com base nas novas tecnologias
      e que a cada ano agrega valor aos seus clientes.
    </p>
  </div>

  <div class="box__attr">
    <img loading="lazy"
    data-aos="fade-up"
      src="assets/gifs/lista-de-controle.gif"
      alt="lista-de-controle"
      width="70px"
    />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Valores</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Honestidade, Espirito de Equipe, Confiança e Credibilidade, Ética,
      Comprometimento, Inovação
    </p>
  </div>

  <div class="box__attr">
    <img loading="lazy" src="assets/gifs/foguete.gif" alt="foguete" width="70px" data-aos="fade-up" />
    <div class="mx-1 my-1 text__bold" data-aos="fade-up">Propósito</div>
    <p class="mx-1 text__desc" data-aos="fade-up">
      Nosso propósito é fazer com que nossas tecnologias tragam resultados para toda sociedade.
    </p>
  </div>

</div>

<!-- <app-default-carousel></app-default-carousel> -->
