<div class="pag">
  <div class="aling__top">
    <div class="pag__center">
      <div class="d-flex justify-content-center flex-column">
        <span class="text__title"
          >Construindo o futuro
          <span class="text__subtitle-white">
            através da <br />
            tecnologia e inovação
          </span>
        </span>
        <p class="text__white-desc">
          Conectamos sua empresa com o mundo da tecnologia em tempo hábil
        </p>
      </div>
    </div>
  </div>

  <div class="aling__center section--first">
    <div class="pag__center d-flex section--first--content">
      <div class="d-flex justify-content-center flex-column w-75">
        <p class="text__green">Quem somos</p>
        <p class="text__default">
          Fundada em 2019, a Angular Money Group é uma <br />
          empresa com ferramentas de apoio a empresas
        </p>
        <p class="text__subtitle">
          Atualmente, somos uma equipe com mais de 20 desenvolvedores,<br />
          com sede em Uberlândia, atendemos clientes em todo o país.
        </p>
      </div>
      <img src="assets/backgrounds/bg-mid.png" alt="" width="50%" />
    </div>
  </div>

  <div class="aling__call section--second">
    <div class="pag__center section--second--content">
      <p class="text__green">Trabalhe conosco</p>

      <div class="d-flex">
        <div class="box__white">
          <img src="assets/icons/icon-call-1.svg" width="48px" />
          <p class="text__default mt-2">Potencial de crescimento.</p>
          <p class="text__desc">
            Acreditamos que somos uma empresa com grande potencial de
            crescimento no mercado, oferecendo desenvolvedores, equipes e
            soluções para as necessidades de cada cliente
          </p>
        </div>
        <div class="box__white">
          <img src="assets/icons/Icon-call-2.svg" width="48px" />
          <p class="text__default mt-2">Feita de pessoas.</p>
          <p class="text__desc">
            Se todos estiverem bem, com equilíbrio entre a vida pessoal e
            profissional, criamos uma relação de proximidade em que todos saem
            ganhando.
          </p>
        </div>
        <div class="box__white">
          <img src="assets/icons/icon-call-3.svg" width="48px" />
          <p class="text__default mt-2">Apaixonados pelo que fazemos.</p>
          <p class="text__desc">
            Aqui temos pessoas apaixonadas pelo que fazem, acreditando no
            potencial de cada um da nossa equipe.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="aling__bot section--third">
    <div class="pag__center section--third--content">
      <p class="text__green">Sustentabilidade</p>
      <p class="text__default">Algumas iniciativas:</p>
      <div class="d-flex">
        <div class="box__bot">
          <img
            src="assets/backgrounds/bg-agua.svg"
            alt=""
            class="mb-3"
            width="100%"
          />
          <p class="text__desc">
            Redução de 80% no uso de copos descartáveis, uma vez que todos os
            colaboradores utilizam o seu próprio copo para tomar água e café.
          </p>
        </div>

        <div class="box__bot">
          <img
            src="assets/backgrounds/bg-talk.svg"
            alt=""
            class="mb-3"
            width="100%"
          />
          <p class="text__desc">
            Projetos sociais locais e nacionais, com apoio à ONGs, doações de
            alimentos, ajuda de custo, disponibilização de sistema 100% gratuito
            e ações em datas comemorativas, com diversas formas de doações.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
