<div class="pag w-100 section--third" style="background-color: #587b52" data-aos="fade-up">
  <div
    class="aling__box d-flex justify-content-center align-items-center flex-column default-container"
  >
    <p class="text__title text-center default-container pb-4" data-aos="fade-up">
      Seus projetos com produtividade, agilidade e redução de custos.
    </p>
       <app-default-button
      [bigArrow]="false"
      label="Vagas disponíveis"
      classes="button-white py-3 px-4"
      (click)="defaultService.backToTop()"
      labelFontSize="20px"
      routerLink="/contato"></app-default-button>

  </div>
</div>
