<div class="aling__center section--first">
  <div class="pag__center d-flex section--first--content">
    <div class="d-flex justify-content-center flex-column w-75 pb-3">
      <p class="text__green"  >Quem somos</p>
      <p class="text__default"  >
        Fundada em 2019, a Angular Money Group é uma <br />
        empresa com ferramentas de apoio a empresas
      </p>
      <p class="text__subtitle"  >
        Atualmente, somos uma equipe com mais de 20 desenvolvedores,<br />
        com sede em Uberlândia, atendemos clientes em todo o país.
      </p>
      <app-default-button
      label="Sobre nós"
      [arrow]="true"
      routerLink="/sobre"
      (click)="defaultService.backToTop()"
      ></app-default-button>
    </div>
    <img loading="lazy" src="assets/backgrounds/bg-mid.webp" alt="" width="50%" data-aos="fade-up"/>
  </div>
</div>
