<div class="top-background"></div>
<div class="container-background">
  <div class="background-layout">
  <div class="top-text">
    <h1 class="bold-tittle">
      Inicio / Entre em contato
    </h1>
  </div>
  <div class="container-contact">
  <div class="contact-box">
  <h1 class="about-tittle">Contato</h1>
  <input maxlength="40"  type="email" class="mail-box" name="" id="" placeholder="email@seudominio.com.br">
    <input  maxlength="14"  type="tel" class="number-box" name="" id="" placeholder="(00)00000-0000">
  <textarea class="comment-box"  maxlength="300" type="text" placeholder="Descreva aqui sua mensagem..."></textarea>
  <button class="contact-button">Entrar em contato</button>
</div>
<div class="contact-box">
  <img class="contact-image" src="assets/svg/contact-image.svg" alt="">
</div>
</div>
</div>
