@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Syne&display=swap');

:root {
  /*principal colors*/
  --primary-color: #354739;
  --secondary-color: #ffffff;
  /*buttons colors*/
  --black: #000000;
  --white: #ffffff;
  --gray: #f5f5f5;
  --green: #587b52;
  /*fonts*/
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family:  'Albert Sans', sans-serif;
}

.text{
  &__title{
    font-weight: 600;
    font-size: 38px;
    color: #FFFFFF;
  }
  &__subtitle-white{
    font-weight: 400;
    font-size: 38px;
    color: #FFFFFF;
  }
  &__white-desc{
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
  }
  &__default{
    font-weight: 400;
    font-size: 26px;
    color: #000000;
  }
  &__subtitle{
    font-weight: 400;
    font-size: 24px;
    color: #545454;
  }
  &__desc{
    font-weight: 400;
    font-size: 16px;
    color: #545454;
  }
  &__green{
    font-weight: 600;
    font-size: 24px;
    color: #587B52;
  }
}

.default-subtitle.tittle{
  color: #3A5237 !important;
  font-weight: 600 !important;
  font-size: 21px !important;
}

.default-container{
  max-width: 1444px;
  width: 75%;
  margin: 0 auto;
}



/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
body,
html {
  min-width: 375px;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
