@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Syne&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
:root {
  /*principal colors*/
  --primary-color: #354739;
  --secondary-color: #ffffff;
  /*buttons colors*/
  --black: #000000;
  --white: #ffffff;
  --white--gray: #F6F6F6;
  --gray: #f5f5f5;
  --green: #587b52;
  --dark-green: #354739;
  --medium-green: #3A5237;
  --dark-gray: #545454;
  --very-dark-gray: #262626;
  /*fonts*/
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family:  'Albert Sans', sans-serif;
}

.button{
  &__solution{
    border-radius: 56px !important;
  }
}

.text{
  &__title{
    font-weight: 600;
    font-size: 38px;
    color: var(--white);
  }
  &__title-black{
    font-weight: 600;
    font-size: 38px;
    color: var(--black);
  }
  &__subtitle-white{
    font-weight: 400;
    font-size: 38px;
    color: var(--white);
  }
  &__white-desc{
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
  }
  &__default{
    font-weight: 400;
    font-size: 26px;
    color: var(--black);
  }
  &__subtitle{
    font-weight: 400;
    font-size: 24px;
    color: var(--dark-gray);
  }
  &__desc{
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-gray);
  }
  &__bold{
    font-weight: 600;
    font-size: 22px;
    color: var(--black);
  }
  &__opc-title{
    font-weight: 600;
    font-size: 28px;
    color: var(--medium-green);
  }
  &__green{
    font-weight: 600;
    font-size: 24px;
    color: var(--green);
  }
  &__green-title{
    font-weight: 600;
    font-size: 42px;
    color: var(--green);
  }
  &__green-subtitle{
    font-weight: 400;
    font-size: 24px;
    color: var(--green);
  }
  &__solution{
    font-weight: 400;
    font-size: 20px;
    color: var(--very-dark-gray);
  }
}

.default-subtitle.tittle{
  color: var(--medium-green) !important;
  font-weight: 600 !important;
  font-size: 21px !important;
}

.pag{
  width: 100%;
  height: auto;
  &__center{
    width: 75%;
    margin: 0 auto;
    max-width: 1444px;
  }
}
.default-subtitle.tittle{
  color: var(--medium-green) !important;
  font-weight: 600 !important;
  font-size: 21px !important;
}

.default-container{
  max-width: 1444px;
  width: 75%;
  margin: 0 auto;
}



/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
body,
html {
  min-width: 375px;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
