<div class="black-box">
<div class="content">
  <span [routerLink]="['/home']">Inicio</span>
  <span [routerLink]="['/about-us']" >Sobre nós</span>
  <span [routerLink]="['/solutions']">Soluções</span>
  <span [routerLink]="['/hiring']">Trabalhe Conosco</span>
  <span [routerLink]="['/contact-us']" >Contato</span>
</div>
<footer class="baseboard">
    <div class="default-container">

    <div class="baseboard-logo">
      <img [routerLink]="['/home']" class="logo" src="../../assets/svg/LOGO 4.svg" alt="" />
    </div>

    <div class="baseboard-button">
      <div class="baseline-button">
        <button type="button" class="btnHome" [routerLink]="['/contact-us']">Contato</button>
      </div>
    </div>
  </div>
</footer>
