.baseboard {
  background-color: #000000;
  color: white;
  padding-bottom: 20px;
  width: 100%;
  padding-top: 30px;

  .default-container {
    padding: 0% 5%;
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    gap: 50%;
  }
}
.black-box{
  width: 100%;
  background: #141414;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  color: #587b52;
  margin: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 120%;
  cursor: pointer;

}

.logo {
  cursor: pointer;
  width: 90px;
}
.baseboard-button {
  display: flex;
  justify-content: end;
}
