<div class="pag">
  <h5 class="text__bold default-container" data-aos="fade-up">início / soluções</h5>

  <app-solutions-page-need-devs></app-solutions-page-need-devs>

  <div class="pag w-100" >
    <div class="w-100" style="background-color: #587b52; height: 52px" data-aos="fade-up"></div>
  </div>

  <app-solutions-page-why-choose></app-solutions-page-why-choose>

  <app-solutions-page-your-projects></app-solutions-page-your-projects>

  <app-solutions-page-why-contract></app-solutions-page-why-contract>

</div>
