button{
  background-color: #587B52;
  color: white;
  border-radius: 12px;
  border: 1px solid transparent;
  &:hover{
    background-color: white;
    color: #587B52;
    border: 1px solid #587B52;
    transition: 1000ms;
    transform: scale(1.03);
    .arrow{
      border: solid #587B52;
      border-width: 0 3px 3px 0;
      transition: 1000ms;
    }
  }
  &:not(:hover){
    transition: 1000ms;
    transform: scale(1);
    .arrow{
      transition: 1000ms;
    }
  }
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
